* {
    margin: 0;
    padding: 0;
    /* border: 1px solid #000000; */
}

body {
    background-color: #cccccc;
    font-family: 'Poppins';
}

.nav {
    padding: 20px;
    background-color: #ffffff;
}

#title {
    display: inline-block;
    width: 75%;
}

.nav li,
a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #0050e6;
}

.nav a:hover {
    color: #00215f;
    transition: 0.6s;
}


.item-row {
    margin-left: 0px;
    margin-bottom: 100px;
    width: 850px;
    padding: 20px;
    display: inline-block;
}

.item-row #prodTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #0050e6;
}



.card {
    box-shadow: 8px 8px 5px #aaaaaa;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    width: 200px;
    min-height: 300px;
    padding: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card img {
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-add {
    font-family: "Poppins";
    text-decoration: none;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: #0050e6;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.6s;
    cursor: pointer;
    outline: none;
}

.btn-add:hover {
    background-color: #003aa7;
    transition: 0.6s;
}

.item-price {
    margin-bottom: 12px;
    color: #aaaaaa;
}

.cart {
    float: right;
    width: 30%;
    margin-top: 30px;
}

.checkout-card {
    position: relative;
    box-shadow: 8px 8px 5px #aaaaaa;
    background-color: #ffffff;
    border-radius: 8px;
    width: 300px;
    height: 500px;
    padding: 20px;
    margin-top: 40px;
}

.cart-place {
    overflow: scroll;
    margin-bottom: 20px;
    max-height: 400px;
    min-height: 400px;

}

.item-cart {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    display: inline-block;
    width: 80%;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.item-cart img {
    display: inline-block;
    width: 80px;
    padding: 10px;
}

.item-cart p {
    font-size: 14px;
    text-align: right;
}

.btn-remove {
    width: 100%;
    background-color: #cc0f0f;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-family: "Poppins";
    cursor: pointer;
    outline: none;
}

.btn-remove:hover {
    background-color: #8d0500;
    transition: 0.6s;
}

.detail-cart {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 10px;
}

.detail-cart p {
    display: inline;
}

.btn-checkout {
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: #009657;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    width: 40%;
    margin-left: 20px;
    text-align: center;
    transition: 0.6s;
    border: none;
    font-family: "Poppins";
    cursor: pointer;
    outline: none;
}

.btn-checkout:hover {
    background-color: #00663c;
    transition: 0.6s;
}

.total-price {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
}

.total-title {
    position: absolute;
    bottom: 20px;
    left: 160px;
    font-size: 18px;
}

footer {
    margin-top: 125px;
    width: 100%;
    background-color: #0050e6;
    font-family: monospace;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    padding: 20px 0;
}