* {
    margin: 0;
    padding: 0;
    /* border: 1px solid #000000; */
}

body {
    background-color: #cccccc;
    font-family: 'Poppins';
}

.nav {
    padding: 20px;
    background-color: #ffffff;
}

#title {
    display: inline-block;
    width: 75%;
}

.nav li,
a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #0050e6;
}

.nav a:hover {
    color: #00215f;
    transition: 0.6s;
}


.item-row {
    width: 850px;
    padding: 20px;
    display: inline-block;
}

.item-row #prodTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #0050e6;
}



.card {
    box-shadow: 8px 8px 5px #aaaaaa;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    width: 200px;
    min-height: 300px;
    padding: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card img {
    max-width: 200px;
    border-radius: 10px;
}

.btn {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 5px;
    background-color: #0050e6;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.6s;
}

.btn:hover {
    background-color: #003aa7;
    transition: 0.6s;
}

#item-price {
    margin-bottom: 12px;
    color: #aaaaaa;
}

.cart {
    float: right;
    width: 30%;
    margin-top: 30px;
}

.checkout-card {
    position: relative;
    box-shadow: 8px 8px 5px #aaaaaa;
    background-color: #ffffff;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-top: 40px;
}

.itemCart {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    display: inline-block;
    width: 95%;
    margin-bottom: 10px;
    padding: 5px
}

.itemCart img {
    display: inline-block;
    width: 50px;
    border-radius: 4px;
    margin: auto 0;
    padding: 10px;
}

.itemCart p {
    font-size: 16px;
    text-align: right;
}

.detailCart {
    width: 150px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.btn-checkout {
    position: absolute;
    bottom: 10px;
    right: 0;
    background-color: #d30000;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    width: 40%;
    margin-left: 70%;
    text-align: center;
}

.btn-checkout:hover {
    background-color: #9e0000;
}

.total {
    position: absolute;
    bottom: 20px;

}

footer {
    display: block;
    font-family: monospace;
    text-align: center;
    background-color: #0050e6;
    color: #ffffff;
    font-weight: 300;
    padding: 5px;
    clear: right;
}